<!DOCTYPE html>
<html>
  <head>
    <title>Bootcont</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav class="navbar navbar-success">
  
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= image_tag 'rails.png', alt: 'The Major Depot' %></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Root</a></li>
      <li><a href="/store/index">Store</a></li>
      <li><a href="/carts">Carts</a></li>
      <li><a href="/line_items">Line Items</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/Dimensional+Model.pdf">404 Product</a></li>
<% if session[:user_id] %>
<li><%= link_to 'Orders', orders_path %></li>
<li><%= link_to 'Products', products_path %></li>
<li><%= link_to 'Users', users_path %></li>
<li><%= button_to 'Logout', logout_path, method: :delete %></li>
<% end %>
    </ul>
  
    </nav>
    <div>
    <%= yield %>
    
    </div>
  </body>
</html>

